/*--
Author: W3layouts
Author URL: http://w3layouts.com
License: Creative Commons Attribution 3.0 Unported
License URL: http://creativecommons.org/licenses/by/3.0/
--*/
h4, h5, h6,
h1, h2, h3 {margin: 0;}
ul, ol {margin: 0;}
p {margin: 0;}
html, body{
 font-family: 'Hind', sans-serif;
   font-size: 100%;
   background:#fff; 
}
a {
  text-decoration: none;
}
a:hover {
  transition: 0.5s all;
  -webkit-transition: 0.5s all;
  -moz-transition: 0.5s all;
  -o-transition: 0.5s all;
  text-decoration:none;
}
/*--banner start here--*/

.banner-main {
    padding-top:10em;
    text-align: center;
}
.banner-main h1 {
    font-size:3.5em;
    color: #fff;
    margin-top: 1em;
    font-family: 'Oswald', sans-serif;
}
span.bann-line {
    background: #fff;
    height: 1px;
    width: 100px;
    display: block;
    margin:1.5em auto 1.5em;
}
.banner-main p {
    font-size: 1.05em;
    color: #fff;
    width: 50%;
    margin: 0 auto;
    line-height: 1.8em;
}
span.mover {
    background: url(../images/arrows.png)no-repeat;
    width: 22px;
    height: 32px;
    display:inline-block;
    margin: 8em auto 0em;
    cursor: pointer;
}
/*-banner end here--*/
/*--header start here--*/
.fixed{
	position: fixed;
	top: 0;
	width: 100%;
	margin: 0 auto;
	left:0;
	z-index: 999;
	background:#fff;
}
.logo a {
    display: block;
}
.navbar-wrapper {
    padding: 1em 0em 1.6em 0em;
    margin-top: 0px !important;
    line-height: 36px;
    border-bottom: 1px solid #AFAFAF;
}
.navbar-inverse {
    background: none; 
    border:none; 
}
.navbar-nav {
    float: right !important;
	margin-top: 0px;
}
.navbar {
    margin-bottom: 0px !important;   
    min-height: 0px !important;   
}
.navbar-brand {
    float: left;
    height:0px !important;  
    padding:0px !important;  
}
.nav > li > a {
    padding: 10px 15px !important;
}
.navbar-inverse .navbar-brand {
    color: #FFFFFF;
}
.navbar-inverse .navbar-nav > .active > a, .navbar-inverse .navbar-nav > .active > a:hover, .navbar-inverse .navbar-nav > .active > a:focus {
    color: #fff;
    background: none;
}
.navbar-inverse .navbar-nav > li > a {
    color:#EA548E;
    font-family: 'Oswald', sans-serif;
    line-height: 1.5em;
}
.navbar-inverse .navbar-nav > li > a:hover, .navbar-inverse .navbar-nav > li > a:focus {
    color:#006e96;
    background-color: transparent;
}
nav a {
    position: relative;
    display: inline-block;
    outline: none;
    color: #fff;
    text-decoration: none;
    text-shadow: 0 0 1px rgba(255,255,255,0.3);
    font-size: 1em;
}
nav a:hover,
nav a:focus {
	outline: none;
}

/* Effect 1: Brackets */
.cl-effect-1 a::before,
.cl-effect-1 a::after {
	display: inline-block;
	opacity: 0;
	-webkit-transition: -webkit-transform 0.3s, opacity 0.2s;
	-moz-transition: -moz-transform 0.3s, opacity 0.2s;
	transition: transform 0.3s, opacity 0.2s;
}

.cl-effect-1 a::before {
	margin-right: 10px;
	content: '[';
	-webkit-transform: translateX(20px);
	-moz-transform: translateX(20px);
	transform: translateX(20px);
}

.cl-effect-1 a::after {
	margin-left: 10px;
	content: ']';
	-webkit-transform: translateX(-20px);
	-moz-transform: translateX(-20px);
	transform: translateX(-20px);
}

.cl-effect-1 a:hover::before,
.cl-effect-1 a:hover::after,
.cl-effect-1 a:focus::before,
.cl-effect-1 a:focus::after {
	opacity: 1;
	-webkit-transform: translateX(0px);
	-moz-transform: translateX(0px);
	transform: translateX(0px);
}
/*--header end here--*/
/*--footer start here--*/
.footer {
    padding: 5em 0em;
}
.ftr-grid h3 {
    font-size: 2em;
    color: #000;
    font-family: 'Oswald', sans-serif;
}
.ftr-grid p{
    font-size:1em;
    color:#7B7B7B;
        line-height: 1.7em;
}
span.ftr-line {
    background: #807D7D;
    width: 60px;
    height: 1px;
    display: block;
    margin: 1.5em 0em;
}
span.flm {
    text-align: center;
   margin: 1.5em auto;
}
span.flr {
    text-align: right;
    margin: 1.5em 0em 1.5em 18em;
}
.ftr-mid {
    text-align: center;
}
.ftr-rit {
    text-align: right;
}
.ftr-grid ul {
    padding: 0px;
    list-style: none;
}
.ftr-grid ul li {
    display: inline-block;
    margin: 0px 10px 0px 0px;
}
.ftr-grid ul li a span {
    background: url(../images/ftr-icons.png)no-repeat;
    width: 40px;
    height: 40px;
    display: inline-block;
}
.ftr-grid ul li a span.fa {
    background-position: 0px 0px;
}
.ftr-grid ul li a span.tw {
    background-position: -42px 0px;
}
.ftr-grid ul li a span.gmail {
    background-position: -84px 0px;
}

.ftr-grid ul li a span.fa:hover {
    background-position: 0px 0px;
    opacity: 0.8;
}
.ftr-grid ul li a span.tw:hover{
    background-position: -42px 0px;
    opacity: 0.8;
}
.ftr-grid ul li a span.gmail:hover {
    background-position: -84px 0px;
    opacity: 0.8;
}
/*--footer end here--*/
.copy-right {
    background:#EA548E;
    padding: 1.5em 0em;
    text-align: center;
}
.copy-rights-main p{
	font-size:1em;
	color:#fff;
}
.copy-rights-main p a{
	color:#fff;
}
.copy-rights-main p a:hover{
	color:#000;
}
/*--about start here--*/
.about {
    padding: 5em 0em;
}
.about-top {
    padding-bottom: 4em;
}
.about-top h2 {
    font-size: 3em;
    color:#EA548E;
    text-align: center;
    font-family: 'Oswald', sans-serif;
}
.about-top p {
    font-size: 1em;
    color:#929292;
    text-align: center;
}
.about-left h4 {
    font-size: 1.7em;
    color:#006e96;
    margin-bottom: 0.4em;
    font-family: 'Oswald', sans-serif;
    letter-spacing: 0.8px;
}
span.heading-line {
    background:#807D7D;
    width: 60px;
    height: 1px;
    display: block;
    margin: 0.7em auto 0.7em;
}
.about-left p {
    font-size: 1em;
    color:#929292;
    line-height: 1.8em;
}
.about-grid {
    margin-top: 2em;
}
.about-icon {
    width: 15%;
    float: left;
}
.about-text {
    float: right;
    width: 83%;
}
.about-text h5 {
    font-size: 1em;
    color: #000;
    margin-bottom: 0.3em;
    font-family: 'Oswald', sans-serif;
}
.about-text p{
	font-size: 1em;
    color:#929292;
    line-height: 1.8em;
}
.floatnon{
    float: none!important;
    list-style: none;
}
/* Dropdown Button */
.bntu {
    background-color: #4CAF50;
    color: white;
    padding: 16px;
    font-size: 16px;
    border: none;
    cursor: pointer;
}

/* The container <div> - needed to position the parent content */
.parent {
    position: relative;
    display: inline-block;
}

/* Dropdown Content (Hidden by Default) */
.child {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}

/* Links inside the parent */
.child a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

/* Change color of parent links on hover */
.child a:hover {background-color: #f1f1f1}

/* Show the parent menu on hover */
.parent:hover .child {
    display: block;
}

/* Change the background color of the parent button when the parent content is shown */
.parent:hover .bntu {
    background-color: #3e8e41;
}
span.learn:hover {
	border-radius: 40px;
	 border: 2px solid #016E96;
	 transition: 0.5s all;
    -webkit-transition: 0.5s all;
    -moz-transition: 0.5s all;
    -o-transition: 0.5s all;
}
span.degr {
    background: url(../images/a2.png)no-repeat 3px 3px;
    width: 80px;
    height: 80px;
    display: inline-block;
    border: 2px solid #fff;
    border-radius: 40px;
}
span.degr:hover {
	border-radius: 40px;
	 border: 2px solid #016E96;
	     transition: 0.5s all;
    -webkit-transition: 0.5s all;
    -moz-transition: 0.5s all;
    -o-transition: 0.5s all;
}
span.ab-badge{
    background: url(../images/a1.png)no-repeat 3px 3px;
     width: 80px;
    height: 80px;
    display: inline-block;
    border: 2px solid #fff;
    border-radius: 40px;
}
span.ab-badge:hover {
	border-radius: 40px;
	 border: 2px solid #016E96;
	     transition: 0.5s all;
    -webkit-transition: 0.5s all;
    -moz-transition: 0.5s all;
    -o-transition: 0.5s all;
}
.about-grid:hover span{
    border-radius: 40px;
    border: 2px solid #016E96;
    transition: 0.5s all;
    -webkit-transition: 0.5s all;
    -moz-transition: 0.5s all;
    -o-transition: 0.5s all;
}
.team-bottom p {
    font-size: 1em;
    color: #908F8F;
    line-height: 1.8em;
}
/*--team start here--*/
.team {
    padding-top: 1em;
}
.team-top {
    margin-bottom: 4em;
}
.team-top h3 {
    font-size: 3em;
    color: #EA548E;
    text-align: center;
    font-family: 'Oswald', sans-serif;
}
.team-top p {
    font-size: 1em;
    color:#929292;
    text-align: center;
}
.team-bottom {
    text-align: center;
    margin-top: 1em;
}
.team-bottom ul {
    padding: 0px;
    list-style: none;
    margin-top: 0.5em;
}
.team-bottom ul li {
	display: inline-block;
	margin-left: 0.2em;
}
.team-bottom ul li a {
    background: url(../images/t-icn.png)no-repeat;
    width: 25px;
    height: 25px;
    display: inline-block;
}
.team-bottom ul li a.fa {
    background-position: 0px 0px;
}
.team-bottom ul li a.tw {
    background-position: -27px 0px;
}
.team-bottom ul li a.g {
    background-position: -53px 0px;
}
.team-bottom ul li a.fa:hover {
    background-position: 0px 0px;
    opacity: 0.8;
}
.team-bottom ul li a.tw:hover {
    background-position: -27px 0px;
     opacity: 0.8;
}
.team-bottom ul li a.g:hover {
    background-position: -53px 0px;
     opacity: 0.8;
}
/* Better spacing on download options in getting started */
.bs-docs-dl-options h4 {
  margin-top: 15px;
  margin-bottom: 5px;
}
.ih-item {
  position: relative;
  -webkit-transition: all 0.35s ease-in-out;
  -moz-transition: all 0.35s ease-in-out;
  transition: all 0.35s ease-in-out;
}
.ih-item,
.ih-item * {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
.ih-item a {
  color: #333;
}
.ih-item a:hover {
  text-decoration: none;
}
.ih-item img {
  width: 100%;
  height: 100%;
}

.ih-item.circle {
  position: relative;
  width: 220px;
  height: 220px;
  border-radius: 50%;
  margin: 0 auto;
}
.ih-item.circle .img {
  position: relative;
  width: 220px;
  height: 220px;
  border-radius: 50%;
}
.ih-item.circle .img:before {
  position: absolute;
  display: block;
  content: '';
  width: 100%;
  height: 100%;
  border-radius: 50%;
  box-shadow: inset 0 0 0 16px rgba(255, 255, 255, 0.6), 0 1px 2px rgba(0, 0, 0, 0.3);
  -webkit-transition: all 0.35s ease-in-out;
  -moz-transition: all 0.35s ease-in-out;
  transition: all 0.35s ease-in-out;
}
.ih-item.circle .img img {
  border-radius: 50%;
}
.ih-item.circle .info {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  text-align: center;
  border-radius: 50%;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
}
/*--*/

.ih-item.circle.effect5 {
  -webkit-perspective: 900px;
  -moz-perspective: 900px;
  perspective: 900px;
}
.ih-item.circle.effect5.colored .info .info-back {
  background: #1a4a72;
  background: rgba(26, 74, 114, 0.6);
}
.ih-item.circle.effect5 .info {
  -webkit-transition: all 0.35s ease-in-out;
  -moz-transition: all 0.35s ease-in-out;
  transition: all 0.35s ease-in-out;
  -webkit-transform-style: preserve-3d;
  -moz-transform-style: preserve-3d;
  -ms-transform-style: preserve-3d;
  -o-transform-style: preserve-3d;
  transform-style: preserve-3d;
}
.ih-item.circle.effect5 .info .info-back {
  visibility: hidden;
  border-radius: 50%;
  width: 100%;
  height: 100%;
  background: #333333;
  background: rgba(0, 0, 0, 0.6);
  -webkit-transform: rotate3d(0, 1, 0, 180deg);
  -moz-transform: rotate3d(0, 1, 0, 180deg);
  -ms-transform: rotate3d(0, 1, 0, 180deg);
  -o-transform: rotate3d(0, 1, 0, 180deg);
  transform: rotate3d(0, 1, 0, 180deg);
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
}
.ih-item.circle.effect5 .info h3 {
    color: #fff;
    position: relative;
    letter-spacing: 0px;
    font-size: 1.3em;
    margin: 0 30px;
    padding: 99px 0 0 0;
    height: 110px;
    font-family: 'Oswald', sans-serif;
}
.ih-item.circle.effect5 .info p {
  color: #bbb;
  padding: 10px 5px;
  font-style: italic;
  margin: 0 30px;
  font-size: 12px;
  border-top: 1px solid rgba(255, 255, 255, 0.5);
}
.ih-item.circle.effect5 a:hover .info {
  -webkit-transform: rotate3d(0, 1, 0, -180deg);
  -moz-transform: rotate3d(0, 1, 0, -180deg);
  -ms-transform: rotate3d(0, 1, 0, -180deg);
  -o-transform: rotate3d(0, 1, 0, -180deg);
  transform: rotate3d(0, 1, 0, -180deg);
}
.ih-item.circle.effect5 a:hover .info .info-back {
  visibility: visible;
}
/*--services start here--*/
.service {
    padding: 5em 0em;
}
.serice-layer {
    margin-top: 4em;
}
.serv-text h4 {
    font-size: 1.1em;
    color: #006e96;
    margin-bottom: 0.5em;
    font-family: 'Oswald', sans-serif;
}
.serv-text p {
    font-size:1em;
    color:#929292;
    line-height: 1.8em;
}
.serv-text h4 a{
  color:#006e96;	
}
.serv-text h4 a:hover{
	color:#EA548E;	
}
.service-top h3 {
    font-size: 3em;
    color: #EA548E;
    text-align: center;
    font-family: 'Oswald', sans-serif;  
}
.service-top p {
    font-size: 1em;
    color:#929292;
    text-align: center;
}
.serv-img {
    padding: 0px;
     border: 5px solid #fff;
    box-shadow: 0 1px 3px rgba(97, 92, 92, 0.75);
}
/*--ser strip--*/
.ser-strip-main {
    margin-top: 2em;
}
.ser-strip {
    background: url(../images/ser-strip.jpg)no-repeat;
    background-size: cover;
    min-height: 370px;
    padding: 5em 0em;
    text-align:center;
}
.ser-strip-main h3 {
    font-size:3em;
    color: #fff;
    margin-bottom: 0.9em;
    font-family: 'Oswald', sans-serif;
}
.ser-strip-main a {
    font-size: 1em;
      color: #EA548E;
    border: 1px solid #EA548E;
    
    padding: 0.5em 1.5em;
    display: inline-block;
}
.ser-strip-main a:hover{
    color:#006e96;
    border: 1px solid #006e96;
}
.blog-discription{
	-webkit-transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    -ms-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
}
.blog-discription {
    text-align: center;
    position: absolute;
    bottom: 0;
    opacity: 0;
    overflow: hidden;
    height: 100%;
    width: 100%;
    padding: 10px;
    background: rgba(0, 0, 0, 0.80);
    color: #fff;
}
.theme-border {
    height: 100%;
    width: 100%;
    border: 2px;
    border: 1px solid rgba(255,255,255,.5);
    position: relative;
}
.tg-display-table {
    width: 100%;
    height: 100%;
    display: table;
}
.tg-display-table-cell {
    display: table-cell;
    vertical-align: middle;
    width: 100%;
    height: 100%;
}
.blog-title {
    padding:1em 1em;
}
.serv-img h4{
    -webkit-transition: all 0.5s ease-in-out;
    -moz-transition: all 0.5s ease-in-out;
    -ms-transition: all 0.5s ease-in-out;
    -o-transition: all 0.5s ease-in-out;
    transition: all 0.5s ease-in-out;
}
.blog-title h4 {
    font-weight: bold;
    color: #fff;
    position: relative;
    right:0%;
	font-size: 1.5em;
	margin-top: 0.5em;
}
.blog-title h4 a{
	color:#fff;
}
.blog-title h4:before {
    background: #fff;
    content: "";
    position: absolute;
    margin: 0 0 0 -21px;
    width: 40px;
    left: 50%;
    bottom: -10px;
    height: 1px;
}
.blog-title h4 a {
    color: #fff;
}
.serv-img .blod-meta {
    -webkit-transition: all 0.9s ease-in-out;
    -moz-transition: all 0.9s ease-in-out;
    -ms-transition: all 0.9s ease-in-out;
    -o-transition: all 0.9s ease-in-out;
    transition: all 0.9s ease-in-out;
}
.blod-meta {
    margin: 0;
    padding: 0;
    list-style: none;
    display: inline-block;
    position: relative;
    right: 120%;
    padding: 0 0 10px;
    margin:1em 0;
}
.blod-meta li {
    float: left;
	font-size: 13px;
}
.blod-meta li a{
	color:#fff;
}
.blod-meta li:first-child::before {
    content: "";
    margin: 0;
}
.blod-meta li::before {
    content: "|";
    margin: 0 10px;
}
.blog-title p {
    color: #fff;
    margin: 0;
    position: relative;
    right: 120%;
	font-size: 13px;
    line-height: 1.8em;
}
.serv-img p {
    -webkit-transition: all 1s ease-in-out;
    -moz-transition: all 1s ease-in-out;
    -ms-transition: all 1s ease-in-out;
    -o-transition: all 1s ease-in-out;
    transition: all 1s ease-in-out;
}
.serv-img:hover .blog-discription {
    opacity: 1;
}
.serv-img:hover h3, .serv-img:hover .blod-meta, .serv-img:hover p {
    right: 0;
}
/*--portfolio start here--*/
.portfolio {
    padding: 5em 0em;
}
.portfolio-top {
    padding-bottom: 2em;
}
.portfolio-top h3 {
    font-size: 3em;
    color: #EA548E;
    text-align: center;
    font-family: 'Oswald', sans-serif;
}
.portfolio-top p {
    font-size: 1em;
    color:#7B7B7B;
    text-align: center;
}
figure.effect-apollo {
    border: 5px solid #fff;
    box-shadow: 0 1px 3px rgba(97, 92, 92, 0.75);
}
/******** SAP ************/
.sap_tabs{
	clear:both;
	padding: 0em 0 0em;
}
.tab_box{
	background:#fd926d;
	padding: 2em;
}
.top1{
	margin-top: 2%;
}
.resp-tabs-list {
  list-style: none;
  padding: 2em 9px 1em;
  margin: 0 auto;
  text-align: center;
}
.resp-tabs-container {
	padding: 0px;
	background-color: #fff;
	clear: left;
	
}
h2.resp-accordion {
	cursor: pointer;
	padding: 5px;
	display: none;
}
.resp-tab-content {
	display: none;
}
.resp-content-active, .resp-accordion-active {
   display: block;
}

.tab_img{
	padding:1em 0em;
}
.img-top {	
	  position: relative;
}
.link-top {
    position: absolute;
    top: 0%;
    text-align: center;
    width: 90%;
    background: rgba(0, 0, 0, 0.49);
    height: 100%;
    padding: 4em 0 0;
    display: none;
    left: 5%;
}
i.link {
  background: url(../images/eye.png)no-repeat 0px 0px;
  width: 35px;
  height: 27px;
  display: inline-block;
}
.img-top:hover .link-top{
	display: block;
}
/*--advantages start here--*/
.advantages {
    padding-bottom: 6em;
}
.adv-layer1-text {
    float: left;
    width:65%;
    margin-top: 3em;
}
.advater-img {
    float: right;
    width: 35%;
}
.advant-layer1 {
    text-align: right;
}
.adv-layer1-text h6 {
    font-size: 1em;
    color:#006e96;
    font-family: 'Oswald', sans-serif;
}
.adv-layer1-text p{
	font-size: 1em;
    color:#7B7B7B;
     margin-top: 0.3em;
}
.adv-layer2-text h6 {
    font-size: 1em;
    color: #000;
    margin-bottom: 0.3em;
    font-family: 'Oswald', sans-serif;
}
.adv-layer2-text p{
	font-size: 1em;
    color:#7B7B7B;
     margin-top: 0.3em;
     line-height: 1.8em;
}
.advantages-main h4 {
    font-size: 2em;
    color:#EA548E;
    margin-bottom: 0.5em;
    font-family: 'Oswald', sans-serif;
}
.advantage-left {
    padding: 0em;
}
.advantage-left h3 {
    font-size: 1.2em;
    color: #000;
    margin-bottom: 0.5em;
}
.adv-layer2-text {
    float: left;
    width: 60%;
}
.advant-layer2 {
    margin-top: 1.5em;
    text-align: center;
}
.advantage-left p {
    font-size: 1em;
    color:#7B7B7B;
    line-height: 1.9em;
    width: 90%;
}
/*--map--*/
.map iframe {
    width: 100%;
    height: 350px;
}
/*--contact start here--*/

.contact-left input[type="text"] {
    font-size: 1em;
    color: #F1F1F1;
    padding: 0.8em 1em;
    width: 100%;
    margin-bottom: 1.5em;
    border: 1px solid #fff;
    border-radius: 5px;
    outline: none;
    background: none;
}
.contact-left textarea {
    font-size: 1em;
    color: #F1F1F1;
    padding: 0.8em 1em;
    width: 100%;
    margin-bottom: 0.5em;
    border: 1px solid #fff;
    outline: none;
    resize: none;
    height: 10em;
    border-radius: 5px;
    background: none;
}
.contact-left input[type="submit"] {
    font-size: 1em;
    color: #fff;
    background: #EA548E;
    border: none;
    padding: 0.5em 1.5em;
    outline: none;
    border-radius: 5px;
}
.contact-left input[type="submit"]:hover{
    background:#006e96;
     transition: 0.5s all;
  -webkit-transition: 0.5s all;
  -moz-transition: 0.5s all;
  -o-transition: 0.5s all;
}
.contact-top {
    padding-bottom: 4em;
}
.contact-top h3 {
    font-size: 3em;
    color: #fff;
    text-align: center;
    font-family: 'Oswald', sans-serif;
}
.contact-top p {
    font-size: 1em;
    color: #fff;
    text-align: center;
}
.contact-right p {
    font-size: 0.95em;
    color: #fff;
    line-height: 1.8em;
}
.contact-right h4 {
    font-size: 2em;
    color:#006e96;
    margin-bottom: 0.5em;
    font-family: 'Oswald', sans-serif;
}
.contact-right ul {
    padding: 0px;
    list-style: none;
    margin-top: 1em;
}
.contact-right ul li {
    padding-bottom: 14px;
    color:#fff;
}
.contact-right ul li a{
	color:#fff;
}
.contact-right ul li a:hover{
	color:#006e96;
}
span.glyphicon.glyphicon-map-marker {
    font-size: 1.3em;
    color: #fff;
    margin-right: 0.5em;
    vertical-align: text-top;
}
span.glyphicon.glyphicon-phone {
    font-size: 1.3em;
    color: #fff;
    margin-right: 0.5em;
    vertical-align: text-top;
}
span.glyphicon.glyphicon-envelope {
    font-size: 1.3em;
    color: #fff;
    margin-right: 0.5em;
    vertical-align: middle;
}
#toTop {
	display: none;
	text-decoration: none;
	position: fixed;
	bottom: 10px;
	right: 0px;
	overflow: hidden;
	width: 48px;
	height: 48px;
	border: none;
	text-indent: 100%;
	background: url(../images/top_mover.png) no-repeat 0px 0px;
}
/*--media quiries start here--*/
@media (max-width:1440px){
	
}
@media (max-width:1366px){
.banner {
    min-height: 630px;	
}
span.mover {
    margin: 6em auto 0em;
}
.banner-main {
    padding-top: 7em;
}
.about-grid {
    margin-top: 1.2em;
}

}
@media (max-width:1280px){
	
}
@media (max-width:1024px){
.about-text {
    width: 80%;
}	
.about-icon {
    width: 18%;
}
.serv-text p {
    font-size: 0.85em;
}
.serv-text h4 {
    font-size: 0.95em;
}
.link-top {
    padding: 3em 0 0;
}
span.flr {
    margin: 1.5em 0em 1.5em 14em;
}
.nav > li > a {
    padding: 10px 10px !important;
}
.banner-main p {
    width: 63%;
}
.blog-title h4 {
    margin-top: 0em;
}
.hi-icon:after {
    top: 1px;
    left: -1px;   
}
}
@media (max-width:991px){
.about-right {
    padding-top: 3em;
}
.about-right img {
    margin: 0 auto;
    width: 80%;
}	
.team-grids {
    float: left;
    width: 50%;
    margin-bottom: 2em;
}
.team-grids {
    width: 50%;
    float: left;
    margin-bottom: 2em;
}
.ih-item.circle {
    margin: 0 auto;
}
.serv-img {
    float: left;
    width: 44%;
}
.serv-text {
    float: right;
    width: 52%;
}
.serv-text p {
    font-size: 1em;
}
.serice-layer {
    margin-top: 0em;
}
.services-grid {
    margin-top: 3em;
}
.img-top {
    float: left;
    width: 25%;
    padding: 0em 1em 0em 0em;
}
.tab_img {
    padding: 0.5em 0em;
}
.link-top {
    width: 91%;
    left: 0%;
}
.link-top {
    padding: 2.2em 0 0;
}
.advantage-left {
    padding-bottom: 3em;
}
.contact-left {
    float: left;
    width: 60%;
}
.contact-right {
    float: right;
    width: 40%;
}
.ftr-grid {
    float: left;
    width: 33%;
    padding: 0px;
}
span.flr {
    margin: 1.5em 0em 1.5em 11em;
}
.ftr-grid p {
    font-size: 0.95em;
}
.blog-title h4 {
    margin-top: 0.8em;
}
}
@media (max-width:768px){
.banner-main h1 {
    font-size: 2.6em;	
}
.banner {
    min-height: 534px;
}
.banner-main {
    padding-top: 5em;
}
.about {
    padding: 3em 0em;
}
.service {
    padding: 3em 0em;
}
.ser-strip {
    min-height: 300px;
}
.ser-strip-main {
    margin-top: 0em;
}
.portfolio {
    padding: 3em 0em;
}
.advantages {
    padding-bottom: 3em;
}
.map iframe {
    height: 300px;
}
.contact {
    padding: 3em 0em;
}
.footer {
    padding: 3em 0em;
}
}
@media (max-width:767px){
.navbar-inverse .navbar-toggle {
    background: #EA548E;
    border:none;
}
.navbar-inverse .navbar-toggle:hover, .navbar-inverse .navbar-toggle:focus {
    background-color: #006e96;
}
.navbar-inverse .navbar-collapse, .navbar-inverse .navbar-form {
    border: none;
    background: #F1F1F1;
}
.navbar-nav {
    float: none !important;
    text-align: center;
}
}
@media (max-width:667px){
span.flr {
    margin: 1.5em 0em 1.5em 8em;
}
}
@media (max-width:640px){
span.flr {
    margin: 1.5em 0em 1.5em 8em;
}	
.banner-main {
    padding-top: 3em;
}
span.mover {
    margin: 4em auto 0em;
}
.banner {
    min-height:430px;
}
.about-top h2 {
    font-size: 2.5em;
}
.about-top {
    padding-bottom: 2em;
}
.team-top h3 {
    font-size: 2.5em;
}
.team-top {
    margin-bottom: 2em;
}
.service-top h3 {
    font-size: 2.5em;
}
.services-grid {
    margin-top: 2em;
}
.ser-strip {
    min-height: 255px;
    padding: 4em 0em;
}
.ser-strip-main h3 {
    font-size: 2.5em;
}
.portfolio-top h3 {
    font-size: 2.5em;
}
.link-top {
    padding: 1.6em 0 0;
}
.contact-top h3 {
    font-size: 2.5em;
}
.contact-top {
    padding-bottom: 3em;
}
.contact-right ul li {
    font-size: 0.85em;
}
.ftr-grid h3 {
    font-size: 1.5em;
}
.footer {
    padding: 3em 0em;
}
.portfolio-top {
    padding-bottom: 1em;
}
.blog-title h4 {
    margin-top: 0.2em;
}
.advantages-main h4 {
    font-size: 1.8em;
}
.contact-right h4 {
    font-size: 1.7em;
}
.map iframe {
    height: 250px;
}
.ftr-grid p {
    font-size: 0.8em;
}
.banner-main p {
    width: 88%;
}
.navbar-toggle {
    margin-top: 15px !important;
    margin-right: 0px !important;
    margin-bottom: 0px !important;
}
}
@media (max-width:480px){
.banner-main h1 {
    font-size:1.8em;
}	
.banner-main p {
    width: 100%;
}
span.bann-line {
    margin: 1em auto 1em;
}
span.mover {
    margin: 2em auto 0em;
}
.banner {
    min-height:325px;
}
.banner-main {
    padding-top: 2em;
}
.team-grids {
    width: 55%;
    float: none;
    margin: 2em auto 0em;
}
.resp-tab-item {
    padding: 6px 10px;
}
.img-top {
    float: left;
    width: 50%;
    padding: 0em 1em 0em 0em;
    margin-bottom:1em;
}
.link-top {
    width: 93%;
}
.link-top {
    padding: 2.6em 0 0;
}
.about {
    padding: 2em 0em;
}
.about-right img {
    width: 100%;
}
.about-right {
    padding-top: 2em;
}
.team {
    padding: 0em 0em;
}
.about-left h4 {
    font-size: 1.3em;
    letter-spacing: 0.5px;
}
.serv-img {
    float: none;
    width: 77%;
    margin: 1.5em auto;
}
.serv-text {
    float: none;
    width: 100%;
}
.service {
    padding: 2em 0em;
}
.ser-strip {
    min-height: 200px;
    padding: 3em 0em;
}
.ser-strip-main h3 {
    font-size: 2em;
}
.portfolio {
    padding: 2em 0em;
}
.resp-tabs-list {
    padding: 1em 0px 1em;
}
.advantage-left p {
    width: 100%;
}
.adv-layer1-text {
    width:47%;
}
.advater-img {
    width: 52%;
}
.contact-left {
    float: none;
    width: 100%;
}
.contact-right {
    float: none;
    width: 100%;
    margin-top: 2em;
}
.contact {
    padding: 2em 0em;
}
.ftr-grid {
    float: none;
    width: 100%;
}
.ftr-mid {
    text-align: left;
}
.ftr-rit {
    text-align: left;
}
span.flm {
    text-align: left;
    margin: 1em 0em;
}
span.flr {
    margin: 1em 0em 1em 0em;
}
span.ftr-line {
    margin: 1em 0em;
}
.ftr-mid {
    text-align: left;
    margin: 1.5em 0em;
}
.footer {
    padding: 2em 0em;
}
.copy-rights-main p {
    font-size: 0.95em;
}
.about-icon {
    width: 22%;
}
.blog-title h4 {
    margin-top: 0.8em;
}
.about-text {
    width: 78%;
}
span.learn {
    background: url(../images/a3.png)no-repeat 3px 3px;
    background-size: 90%;
    width: 63px;
    height: 63px;
}
span.degr {
    background: url(../images/a2.png)no-repeat 3px 3px;
    background-size: 90%;
	 width: 63px;
    height: 63px;
}
span.ab-badge {
    background: url(../images/a1.png)no-repeat 3px 3px;
    background-size: 90%;
	 width: 63px;
    height: 63px;
}
.hi-icon:after {
    top: 1px;
    left: -1px;
    width: 60px;
    height: 60px;
}
.sap_tabs {
    padding: 0em 0 0em;
}
.adv-layer2-text {
    width: 48%;
}
.adv-layer2-text p {
    font-size: 0.85em;
}
}
@media (max-width:375px){
.resp-tab-item {
    padding: 6px 5px;
    font-size: 0.75em;
}	
}
@media (max-width:320px){
.banner-main h1 {
    font-size: 1.5em;
    margin-top: 0.6em;
}	
.banner-main p {
    font-size: 0.8em;
}
.banner {
    min-height:260px;
}
span.mover {
    margin: 1em auto 0em;
    background-size: 100%;
    width: 15px;
}
.logo img {
    width: 70%;
}
.navbar-wrapper {
    padding: 0.5em 0em;
}
nav a {
    font-size: 0.9em;
}
.nav > li > a {
    padding: 8px 0px !important;
}
.about {
    padding: 1.5em 0em;
}
.team-grids {
    width: 100%;
}
.about-top h2 {
    font-size: 2em;
}
.about-left p {
    font-size: 0.9em;
}
.about-icon img {
    width: 100%;
}
.about-left {
    padding: 0px;
}
.about-icon {
    width: 20%;
}
.about-text {
    width: 75%;
}
.about-right {
    padding: 1em 0em 0em 0em;
}
.team-top h3 {
    font-size: 2em;
}
.service-top h3 {
    font-size: 2em;
}
.serv-img {
    float: none;
    width: 100%;
}
.team-grids {
    margin: 1em auto 0em;
}
.services-grid {
    margin-top: 0em;
    padding: 0px;
}
.serv-text p {
    font-size: 0.92em;
}
.serv-text h4 {
    font-size: 1em;
}
.service {
    padding: 1.5em 0em;
}
.ser-strip-main h3 {
    font-size: 1.2em;
}
.ser-strip-main a {
    font-size: 0.8em;
}
.ser-strip {
    min-height: 130px;
    padding: 1.5em 0em;
}
.portfolio-top h3 {
    font-size: 2em;
}
.portfolio {
    padding: 1.5em 0em;
}
.resp-tab-item {
    margin: 0 0.2em 0;
    font-size: 0.7em;
    padding: 6px 4px;
}
.link-top {
    padding: 1.6em 0 0;
}
.link-top {
    width: 93%;
}
.sap_tabs {
    padding: 0em 0 0em;
}
.advantage-left p {
    font-size: 0.9em;
}
.advantage-left {
    padding-bottom: 1.5em;
}
.adv-layer1-text {
    width: 41%;
}
.adv-layer2-text {
    width: 48%;
}
.adv-layer2-text p {
    font-size: 0.8em;
}
.advantages {
    padding-bottom: 1.5em;
}
.contact {
    padding: 1.5em 0em;
}
.contact-top h3 {
    font-size: 2em;
}
.contact-top {
    padding-bottom: 1.5em;
}
.contact-left input[type="text"] {
    font-size: 0.9em;
    color: #F1F1F1;
    padding: 0.5em 0.7em;
}
.advantage-rit {
    padding: 0px;
}
.serv-text {
    padding: 0px;
}
.img-top {
    padding: 0em 0.6em 0em 0em;
    margin-bottom: 0.6em;
}
.contact-left textarea {
    height: 7em;
    font-size: 0.8em;
}
.contact-left input[type="submit"] {
    font-size: 0.85em;
    padding: 0.5em 1em;
}
.contact-left {
    padding: 0px;
}
.contact-right {
    margin-top: 1em;
    padding: 0px;
}
.map iframe {
    height: 150px;
}
.footer {
    padding: 1.5em 0em;
}
span.ftr-line {
    margin: 0.8em 0em;
}
.copy-rights-main p {
    font-size: 0.8em;
}
span.learn {
    background: url(../images/a3.png)no-repeat 3px 3px;
    background-size: 87%;
    width: 50px;
    height: 50px;
}
span.degr {
    background: url(../images/a2.png)no-repeat 3px 3px;
    background-size: 87%;
    width: 50px;
    height: 50px;
}
span.ab-badge {
    background: url(../images/a1.png)no-repeat 3px 3px;
    background-size: 87%;
    width: 50px;
    height: 50px;
}
}
/*--media quries end here--*/